@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/_base';
@import 'base/_typography';
@import 'base/_utilities';

@import 'components/_breadCrumbs';
@import 'components/_cart';
@import 'components/_product';

@import 'layout/_footer';
@import 'layout/_header';
@import 'layout/_navigation';

@import 'pages/_home';
@import 'pages/_productDetails';

.wrapper {
    padding-top: 30px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.policy {
    @include tablet {
        display: flex;
        align-items: center;
    }
}

.policy__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    margin: 20px auto;
    border: 1px solid #d0011b;
    border-radius: 9999px;
    color: #d0011b;
    font-size: 32px;
    line-height: 72px;
    text-align: center;

    @include tablet {
        width: 48px;
        height: 48px;
        font-size: 20px;
        line-height: 48px;
        margin: 0 10px 0 0;
    }
}

.policy__content {
    text-align: center;

    @include tablet {
        text-align: left;
    }

    h5 {
        line-height: 1.2;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 0.5em;
        color: #333;
        font-size: 1em;
    }

    p {
        margin-bottom: 10px;
        color: #333;

        @include tablet {
            margin-bottom: 0;
        }
    }
}

.widget {
    padding: 0 15px 0px;
    margin-bottom: 20px;
    p {
        margin-bottom: 1em;
        strong {
            font-weight: 400;
        }
    }
}

.widget__title {
    font-size: 1.35em;
    line-height: 1.05;
}
