include ../mixins/policy.pug
include ../mixins/widget.pug

footer.footer
  div(class="border-t-neutral-200 pt-[10px] border-t border-solid")
    div(class="max-w-[1170px] grid grid-cols-[repeat(4,1fr)] mx-auto my-0 md:grid-cols-[1fr]")
      +policy("fa-solid fa-check", "Chất Lượng", "Sản phẩm chính hãng, bền và đẹp.")
      +policy("fa-solid fa-face-smile", "Hài Lòng", "Trải nghiệm mua hàng tuyệt vời.")
      +policy("fa-solid fa-retweet", "Dễ Dàng", "Đổi trả và bảo hành nhanh chóng.")
      +policy("fa-solid fa-money-check-dollar", "An Toàn", "Thanh toán đơn giản và bảo mật.")
  div(class="border-t-neutral-200 !pt-[30px] pb-0 px-0 border-t border-solid")
    div(class="max-w-[1170px] grid grid-cols-[repeat(4,1fr)] mx-auto my-0 md:grid-cols-[1fr]")
      div
        div(class="widget mb-[20px] px-[15px] py-0")
          span(class="text-[1.35em] leading-[1.05]") Giới thiệu
          .is-divider
          p
            a(href='') PHỤ KIỆN ABC
            |  - Chuyên cung cấp các sản phẩm phụ kiện PC, laptop, điện thoại, máy tính bảng,... chính hãng, giá tốt, chất lượng cao. Hãy đến với chúng tôi để có trải nghiệm mua sắm tốt nhất, cùng nhiều ưu đãi có giá trị dành cho mọi khách hàng.
          p
            | Địa chỉ:
            strong
              | Số 26 Ngõ 8/170 Lê Quang Đạo, Phú Đô, Nam Từ Liêm, Hà Nội
          p
            | Hotline: 
            strong 098.5588.012
            |  |
            strong 0858.577.555
          p
            | Email: 
            strong phukienabc.official@gmail.com
      +widget("Thông tin, chính sách", ["Liên hệ, hợp tác", "Hướng dẫn mua hàng", "Chính sách bảo hành, đổi trả, hoàn tiền", "Chính sách giao hàng", "Chính sách thanh toán", "Chính sách bảo mật thông tin khách hàng"])
      +widget("Danh mục sản phẩm", ["Dây Cáp", "Bộ Chia Tín Hiệu", "Bộ Chuyển Tín Hiệu", "Linh Kiện Laptop", "Phụ Kiện Laptop", "Bàn Phím, Chuột, Gaming Gear"])
      +widget("Sản phẩm hot", ["Chuột Dareu EM908 (Đen/Trắng/Hồng)", "Bàn Phím Cơ Dareu EK87 Đen/Trắng/Hồng (Blue/Red/Brown Switch)", "Chuột Không Dây Dareu LM115G (Đen/Trắng/Hồng)", "Tai Nghe Dareu EH416 Dây USB, Giả Lập 7.1", "Bàn Phím Cơ Dareu EK810 Đen/Hồng (Blue/Red/Brown Switch)", "Chuột Không Dây Dareu EM901 (Đen/Trắng/Hồng)"])
      
  div(class="text-[rgba(0,0,0,0.5)] pt-[15px] pb-[15px] px-0")
    div(class="max-w-[1170px] mx-auto my-0 pt-0 pb-[15px] px-[15px] md:text-center")
      | Copyright 2019 &copy; PHỤ KIỆN ABC
