footer.footer
  .footer-top
    .footer-top__wrapper
      .footer-top__wrapper-col
        .policy
          .policy__icon
            i.fa-solid.fa-check
          .policy__content
            h5.uppercase Chất Lượng
            p Sản phẩm chính hãng, bền và đẹp.
      .footer-top__wrapper-col
        .policy
          .policy__icon
            i.fa-solid.fa-face-smile
          .policy__content
            h5.uppercase Hài Lòng
            p Trải nghiệm mua hàng tuyệt vời.
      .footer-top__wrapper-col
        .policy
          .policy__icon
            i.fa-solid.fa-retweet
          .policy__content
            h5.uppercase Dễ Dàng
            p Đổi trả và bảo hành nhanh chóng.
      .footer-top__wrapper-col
        .policy
          .policy__icon
            i.fa-solid.fa-money-check-dollar
          .policy__content
            h5.uppercase An Toàn
            p Thanh toán đơn giản và bảo mật.
  .footer-center
    .footer-center__wrapper
      .footer-center__wrapper-col
        .widget
          span.widget__title Giới thiệu
          .is-divider
          p
            a(href='') PHỤ KIỆN ABC
            |  - Chuyên cung cấp các sản phẩm phụ kiện PC, laptop, điện thoại, máy tính bảng,... chính hãng, giá tốt, chất lượng cao. Hãy đến với chúng tôi để có trải nghiệm mua sắm tốt nhất, cùng nhiều ưu đãi có giá trị dành cho mọi khách hàng.
          p
            | Địa chỉ:
            strong
              | Số 26 Ngõ 8/170 Lê Quang Đạo, Phú Đô, Nam Từ Liêm, Hà Nội
          p
            | Hotline: 
            strong 098.5588.012
            |  |
            strong 0858.577.555
          p
            | Email: 
            strong phukienabc.official@gmail.com
      .footer-center__wrapper-col
        .widget
          span.widget__title Thông tin, chính sách
          .is-divider
          ul 
            li 
              a Liên hệ, hợp tác
            li 
              a Hướng dẫn mua hàng
            li 
              a Chính sách bảo hành, đổi trả, hoàn tiền
            li 
              a Chính sách giao hàng
            li 
              a Chính sách thanh toán
            li 
              a Chính sách bảo mật thông tin khách hàng
      .footer-center__wrapper-col
        .widget
          span.widget__title Danh mục sản phẩm
          .is-divider
          ul 
            li 
              a Dây Cáp
            li 
              a Bộ Chia Tín Hiệu
            li 
              a Bộ Chuyển Tín Hiệu
            li 
              a Linh Kiện Laptop
            li 
              a Phụ Kiện Laptop
            li 
              a Phụ Kiện Điện Thoại
            li 
              a Phụ Kiện Lưu Trữ
            li 
              a Thiết Bị Nghe Nhìn
            li 
              a Thiết Bị Mạng
            li 
              a Thiết Bị Lưu Trữ
            li 
              a Bàn Phím, Chuột, Gaming Gear
            li 
              a Phần Mềm, Hệ Điều Hành
            li 
              a Thiết Bị Hội Nghị
      .footer-center__wrapper-col
        .widget
          span.widget__title Sản phẩm hot
          .is-divider
          ul
            li 
              a Chuột Dareu EM908 (Đen/Trắng/Hồng)
            li 
              a Bàn Phím Cơ Dareu EK87 Đen/Trắng/Hồng (Blue/Red/Brown Switch)
            li 
              a Chuột Không Dây Dareu LM115G (Đen/Trắng/Hồng)
            li 
              a Tai Nghe Dareu EH416 Dây USB, Giả Lập 7.1
            li 
              a Bàn Phím Cơ Dareu EK810 Đen/Hồng (Blue/Red/Brown Switch)
            li 
              a Chuột Không Dây Dareu EM901 (Đen/Trắng/Hồng)
            li 
              a Chuột Dareu LM130 Multi-LED
  .footer-bottom
    div
      | Copyright 2019 &copy; PH&#x1EE4; KI&#x1EC6;N ABC
