mixin product(name)
  .product-box
      .product-box__badge
        span -37%
      .product-box__image
        img(src='https://phukienabc.com/wp-content/uploads/2022/10/Tai-Nghe-DAREU-EH416-208x208.jpg' alt='')
      .product-box__text
        .product-box__text-name
          = name
        .product-box__text-info
          .product-box__rating
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
          .product-box__price
            span.product-box__price--sale
              | 500.000
              span.current-symbol &#x20AB;
            span.product-box__price--current
              | 300.000
              span.current-symbol &#x20AB;
          .product-box__status
            i.fa-solid.fa-check
            | Còn hàng


section.section
  .section__title
    h3
      span Sản Phẩm Bán Chạy
  .section__main.featured-products
    button.btn-slider.btn--prev
      i.fa-solid.fa-chevron-left
    +product('Chuột Dareu EM908 (Đen/Trắng/Hồng)')
    +product('Tai Nghe Dareu EH416 Dây USB, Giả Lập 7.1')
    +product('Bàn Phím Cơ Dareu EK87 Đen/Trắng/Hồng (Blue/Red/Brown Switch)')
    +product('Chuột Không Dây Dareu LM115G (Đen/Trắng/Hồng)')
    +product('Bàn Phím Cơ Dareu EK810 Đen/Hồng (Blue/Red/Brown Switch)')
    +product('Bàn Di Chuột Dareu ESP100 350x300x5mm')
    button.btn-slider.btn--next
      i.fa-solid.fa-chevron-right

