mixin product
  .product
      div
        img.product__image(src='https://phukienabc.com/wp-content/uploads/2022/10/Tai-Nghe-DAREU-EH416-208x208.jpg' alt='')
      .product__name
        | Tai Nghe Dareu EH416 D&acirc;y USB, Gi&#x1EA3; L&#x1EAD;p 7.1
      .product-info
        .product-info__rating
          i.fa-solid.fa-star
          i.fa-solid.fa-star
          i.fa-solid.fa-star
          i.fa-solid.fa-star
          i.fa-solid.fa-star
        .product-info__price
          span.product-info__price--sale
            | 500.000
            span.current-symbol &#x20AB;
          span.product-info__price--current
            | 300.000
            span.current-symbol &#x20AB;
        .product-info__status
          i.fa-solid.fa-check
          |                 C&ograve;n h&agrave;ng


section.section
  .section__title
    h3 S&#x1EA3;n ph&#x1EA9;m b&aacute;n ch&#x1EA1;y
  .section__main
    +product
    +product
    +product
    +product
    +product
