

.policys 
    .policy-item 
        i.fa-solid.fa-rocket
        .policy-item-content 
            div Giao hàng siêu tốc
            div Nội thành HN nhận trong ngày
    .policy-item 
        i.fa-solid.fa-check-double
        .policy-item-content 
            div Sản phẩm chính hãng 100%
            div Chất lượng đảm bảo
    .policy-item 
        i.fa-solid.fa-arrows-rotate
        .policy-item-content 
            div Đổi trả nhanh chóng
            div Miễn phí trong vòng 7 ngày
    .policy-item 
        i.fa-solid.fa-screwdriver-wrench
        .policy-item-content 
            div Bảo hành toàn quốc
            div Tại cửa hàng hoặc đại lý
    .policy-item 
        i.fa-solid.fa-comments
        .policy-item-content 
            div Tư vấn trực tuyến 24/7
            div Hỗ trợ tận tình, chu đáo