footer.footer
  .footer-top
    .footer-top__wrapper
      .footer-top__wrapper-col
        .policy
          .policy__icon
            i.fa-solid.fa-check
          .policy__content
            h5.uppercase Ch&#x1EA5;t L&#x1B0;&#x1EE3;ng
            p S&#x1EA3;n ph&#x1EA9;m ch&iacute;nh h&atilde;ng, b&#x1EC1;n v&agrave; &dstrok;&#x1EB9;p.
      .footer-top__wrapper-col
        .policy
          .policy__icon
            i.fa-solid.fa-face-smile
          .policy__content
            h5.uppercase H&agrave;i L&ograve;ng
            p Tr&#x1EA3;i nghi&#x1EC7;m mua h&agrave;ng tuy&#x1EC7;t v&#x1EDD;i.
      .footer-top__wrapper-col
        .policy
          .policy__icon
            i.fa-solid.fa-retweet
          .policy__content
            h5.uppercase D&#x1EC5; D&agrave;ng
            p &Dstrok;&#x1ED5;i tr&#x1EA3; v&agrave; b&#x1EA3;o h&agrave;nh nhanh ch&oacute;ng.
      .footer-top__wrapper-col
        .policy
          .policy__icon
            i.fa-solid.fa-money-check-dollar
          .policy__content
            h5.uppercase An To&agrave;n
            p Thanh to&aacute;n &dstrok;&#x1A1;n gi&#x1EA3;n v&agrave; b&#x1EA3;o m&#x1EAD;t.
  .footer-center
    .footer-center__wrapper
      .footer-center__wrapper-col
        .widget
          span.widget__title Gi&#x1EDB;i thi&#x1EC7;u
          .is-divider
          p
            a(href='') PH&#x1EE4; KI&#x1EC6;N ABC
            |  - Chuy&ecirc;n cung c&#x1EA5;p c&aacute;c s&#x1EA3;n ph&#x1EA9;m ph&#x1EE5;
            |                 ki&#x1EC7;n PC, laptop, &dstrok;i&#x1EC7;n tho&#x1EA1;i, m&aacute;y t&iacute;nh b&#x1EA3;ng,... ch&iacute;nh h&atilde;ng, gi&aacute;
            |                 t&#x1ED1;t, ch&#x1EA5;t l&#x1B0;&#x1EE3;ng cao. H&atilde;y &dstrok;&#x1EBF;n v&#x1EDB;i ch&uacute;ng t&ocirc;i &dstrok;&#x1EC3; c&oacute; tr&#x1EA3;i nghi&#x1EC7;m mua
            |                 s&#x1EAF;m t&#x1ED1;t nh&#x1EA5;t, c&ugrave;ng nhi&#x1EC1;u &#x1B0;u &dstrok;&atilde;i c&oacute; gi&aacute; tr&#x1ECB; d&agrave;nh cho m&#x1ECD;i kh&aacute;ch
            |                 h&agrave;ng.
          p
            | &Dstrok;&#x1ECB;a ch&#x1EC9;:
            strong
              | S&#x1ED1; 26 Ng&otilde; 8/170 L&ecirc; Quang &Dstrok;&#x1EA1;o, Ph&uacute; &Dstrok;&ocirc;, Nam T&#x1EEB; Li&ecirc;m, H&agrave;
              | N&#x1ED9;i
          p
            | Hotline: 
            strong 098.5588.012
            |  |
            strong 0858.577.555
          p
            | Email: 
            strong phukienabc.official@gmail.com
      .footer-center__wrapper-col
        .widget
          span.widget__title Gi&#x1EDB;i thi&#x1EC7;u
          .is-divider
          p
            a(href='') PH&#x1EE4; KI&#x1EC6;N ABC
            |  - Chuy&ecirc;n cung c&#x1EA5;p c&aacute;c s&#x1EA3;n ph&#x1EA9;m ph&#x1EE5;
            |                 ki&#x1EC7;n PC, laptop, &dstrok;i&#x1EC7;n tho&#x1EA1;i, m&aacute;y t&iacute;nh b&#x1EA3;ng,... ch&iacute;nh h&atilde;ng, gi&aacute;
            |                 t&#x1ED1;t, ch&#x1EA5;t l&#x1B0;&#x1EE3;ng cao. H&atilde;y &dstrok;&#x1EBF;n v&#x1EDB;i ch&uacute;ng t&ocirc;i &dstrok;&#x1EC3; c&oacute; tr&#x1EA3;i nghi&#x1EC7;m mua
            |                 s&#x1EAF;m t&#x1ED1;t nh&#x1EA5;t, c&ugrave;ng nhi&#x1EC1;u &#x1B0;u &dstrok;&atilde;i c&oacute; gi&aacute; tr&#x1ECB; d&agrave;nh cho m&#x1ECD;i kh&aacute;ch
            |                 h&agrave;ng.
          p
            | &Dstrok;&#x1ECB;a ch&#x1EC9;:
            strong
              | S&#x1ED1; 26 Ng&otilde; 8/170 L&ecirc; Quang &Dstrok;&#x1EA1;o, Ph&uacute; &Dstrok;&ocirc;, Nam T&#x1EEB; Li&ecirc;m, H&agrave;
              | N&#x1ED9;i
          p
            | Hotline: 
            strong 098.5588.012
            |  |
            strong 0858.577.555
          p
            | Email: 
            strong phukienabc.official@gmail.com
      .footer-center__wrapper-col
        .widget
          span.widget__title Gi&#x1EDB;i thi&#x1EC7;u
          .is-divider
          p
            a(href='') PH&#x1EE4; KI&#x1EC6;N ABC
            |  - Chuy&ecirc;n cung c&#x1EA5;p c&aacute;c s&#x1EA3;n ph&#x1EA9;m ph&#x1EE5;
            |                 ki&#x1EC7;n PC, laptop, &dstrok;i&#x1EC7;n tho&#x1EA1;i, m&aacute;y t&iacute;nh b&#x1EA3;ng,... ch&iacute;nh h&atilde;ng, gi&aacute;
            |                 t&#x1ED1;t, ch&#x1EA5;t l&#x1B0;&#x1EE3;ng cao. H&atilde;y &dstrok;&#x1EBF;n v&#x1EDB;i ch&uacute;ng t&ocirc;i &dstrok;&#x1EC3; c&oacute; tr&#x1EA3;i nghi&#x1EC7;m mua
            |                 s&#x1EAF;m t&#x1ED1;t nh&#x1EA5;t, c&ugrave;ng nhi&#x1EC1;u &#x1B0;u &dstrok;&atilde;i c&oacute; gi&aacute; tr&#x1ECB; d&agrave;nh cho m&#x1ECD;i kh&aacute;ch
            |                 h&agrave;ng.
          p
            | &Dstrok;&#x1ECB;a ch&#x1EC9;:
            strong
              | S&#x1ED1; 26 Ng&otilde; 8/170 L&ecirc; Quang &Dstrok;&#x1EA1;o, Ph&uacute; &Dstrok;&ocirc;, Nam T&#x1EEB; Li&ecirc;m, H&agrave;
              | N&#x1ED9;i
          p
            | Hotline: 
            strong 098.5588.012
            |  |
            strong 0858.577.555
          p
            | Email: 
            strong phukienabc.official@gmail.com
      .footer-center__wrapper-col
        .widget
          span.widget__title Gi&#x1EDB;i thi&#x1EC7;u
          .is-divider
          p
            a(href='') PH&#x1EE4; KI&#x1EC6;N ABC
            |  - Chuy&ecirc;n cung c&#x1EA5;p c&aacute;c s&#x1EA3;n ph&#x1EA9;m ph&#x1EE5;
            |                 ki&#x1EC7;n PC, laptop, &dstrok;i&#x1EC7;n tho&#x1EA1;i, m&aacute;y t&iacute;nh b&#x1EA3;ng,... ch&iacute;nh h&atilde;ng, gi&aacute;
            |                 t&#x1ED1;t, ch&#x1EA5;t l&#x1B0;&#x1EE3;ng cao. H&atilde;y &dstrok;&#x1EBF;n v&#x1EDB;i ch&uacute;ng t&ocirc;i &dstrok;&#x1EC3; c&oacute; tr&#x1EA3;i nghi&#x1EC7;m mua
            |                 s&#x1EAF;m t&#x1ED1;t nh&#x1EA5;t, c&ugrave;ng nhi&#x1EC1;u &#x1B0;u &dstrok;&atilde;i c&oacute; gi&aacute; tr&#x1ECB; d&agrave;nh cho m&#x1ECD;i kh&aacute;ch
            |                 h&agrave;ng.
          p
            | &Dstrok;&#x1ECB;a ch&#x1EC9;:
            strong
              | S&#x1ED1; 26 Ng&otilde; 8/170 L&ecirc; Quang &Dstrok;&#x1EA1;o, Ph&uacute; &Dstrok;&ocirc;, Nam T&#x1EEB; Li&ecirc;m, H&agrave;
              | N&#x1ED9;i
          p
            | Hotline: 
            strong 098.5588.012
            |  |
            strong 0858.577.555
          p
            | Email: 
            strong phukienabc.official@gmail.com
  .footer-bottom
    .footer-bottom__copyright
      | Copyright 2019 &copy; PH&#x1EE4; KI&#x1EC6;N ABC
