.cart-popup.hidden
    .cart-popup-inner 
        .cart-popup-title
            h4 Giỏ hàng
            .is-divider
        .cart-popup-content
            if true
                p Chưa có sản phẩm nào trong giỏ hàng.
            else  
                ul(class="mb-[1em] list-disc")
                    li(class="mb[8px] min-h-[80px] relative overflow-hidden align-top leading-[1.33] pl-2.5 pr-0 pr-[30px] pt-2.5 pb-[15px]")
                        a(href="" class="absolute z-[9] right-0 block w-[24px] h-[24px] text-base leading-[24px] text-[#666] text-center border rounded-[100%] border-solid border-[#888]") x 
                        a(href="" class="block overflow-hidden text-ellipsis leading-[1.3] mb-[5px] p-0")
                            img(src="https://phukienabc.com/wp-content/uploads/2022/10/Tai-Nghe-DAREU-EH416-208x208.jpg") 
                            | Tai Nghe Dareu EH416 Dây USB, Giả Lập 7.1
                        span(class="block mt-[3px]")
                            | 1 x 
                            span(class="text-[1.1em] text-[#333]") 349.000đ 
                p(class="text-center h-[40px] leading-[40px] mb-[0.5em] bg-neutral-100")
                    strong(class="font-normal") Tạm tính: 
                    span(class="text-[1.2em] text-[#d0011b]") 349.000đ
                p(class="mb-[1em] ")
                    a(href="/cart" class="w-full mt-[0.5em] mb-0 mx-0 text-white bg-[#d0011b] border-[rgba(0,0,0,0.05)] relative inline-block tracking-[0.03em] cursor-pointer text-center no-underline border leading-[2.4em] min-h-[2.5em] max-w-full box-border mr-[1em] mt-0 px-[1.2em] py-0 rounded-[3px] border-solid border-transparent") Xem giỏ hàng
                    a(href="" class="w-full mt-[0.5em] mb-0 mx-0 text-white bg-[#d0011b] border-[rgba(0,0,0,0.05)] relative inline-block tracking-[0.03em] cursor-pointer text-center no-underline border leading-[2.4em] min-h-[2.5em] max-w-full box-border mr-[1em] mt-0 mb-2.5 px-[1.2em] py-0 rounded-[3px] border-solid border-transparent") Thanh toán
    button.close-cart-popup
        svg.feather.feather-x(xmlns='http://www.w3.org/2000/svg', width='28', height='28', viewBox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            line(x1='18', y1='6', x2='6', y2='18')
            line(x1='6', y1='6', x2='18', y2='18')