* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  color: #333;
  font-size: 14px;
  line-height: 1.6;
  font-family: Helvetica, Arial, sans-serif; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background: #888; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

body {
  font-size: 1.4rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  text-rendering: optimizeSpeed; }

a {
  text-decoration: none;
  color: #333; }

.heading-primary {
  font-size: 1.5em;
  line-height: 1.3;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  margin-bottom: 10.5px; }

.is-divider {
  margin: 0.66em 0 1em 0;
  height: 1px;
  background-color: #888;
  width: 100%;
  max-width: 60px; }

@media only screen and (max-width: 849px) {
  .hide-on-tablet {
    display: none; } }

.breadcrumbs {
  color: #222;
  letter-spacing: 0;
  line-height: 1.75; }

.breadcrumbs-link {
  color: rgba(102, 102, 102, 0.7);
  font-weight: 400; }

.divider {
  text-align: center;
  opacity: 0.35;
  margin: 0 0.3em; }

.cart-checkout-title__container {
  min-height: 60px;
  padding: 20px 15px 0 15px; }
  .cart-checkout-title__container div nav {
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0;
    color: #222;
    letter-spacing: 0;
    line-height: 1.75;
    text-align: center; }
  .cart-checkout-title__container div nav a {
    color: #ccc; }
  .cart-checkout-title__container div nav span {
    margin: 0 0.3em;
    opacity: 0.35;
    font-weight: 300; }
  .cart-checkout-title__container .current-page {
    color: #111 !important; }

.cart {
  padding: 30px 15px; }

.cart__inner {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 0;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 7fr 5fr; }

.cart__content {
  padding: 0 30px;
  margin-bottom: 0;
  padding-bottom: 0; }
  .cart__content > form {
    margin-bottom: 1em; }
    .cart__content > form > table {
      font-size: 1.4rem;
      border-spacing: 0;
      margin-bottom: 1em; }
      .cart__content > form > table thead tr th {
        padding: 0.5em;
        text-align: left;
        border-bottom: 1px solid #ececec !important;
        line-height: 1.05; }
        .cart__content > form > table thead tr th:last-child {
          text-align: right; }
      .cart__content > form > table tbody tr td {
        text-align: left;
        border-bottom: 1px solid #ececec !important;
        line-height: 1.3; }
      .cart__content > form > table tbody tr:last-child td {
        padding: 15px 0 10px; }
        .cart__content > form > table tbody tr:last-child td button {
          display: inline-block;
          letter-spacing: 0.03em;
          text-align: center;
          color: currentColor;
          border: 1px solid transparent;
          vertical-align: middle;
          border-radius: 3px;
          margin-top: 0;
          margin-right: 1em;
          margin-bottom: 1em;
          text-shadow: none;
          line-height: 2.4em;
          min-height: 2.5em;
          opacity: 0.6;
          background-color: #d0011b;
          color: #fff;
          border-color: rgba(0, 0, 0, 0.05);
          padding: 0 1.2em;
          max-width: 100%;
          font: inherit; }

.cart-product-remove {
  width: 20px;
  padding: 15px 0 !important; }
  .cart-product-remove a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 16px !important;
    line-height: 24px !important;
    border-radius: 100%;
    color: #666;
    text-align: center;
    border: 1px solid #888; }

.cart-product-thumbnail {
  padding: 15px 0.5em;
  min-width: 60px;
  max-width: 90px;
  width: 90px; }
  .cart-product-thumbnail a img {
    width: 100%;
    height: 100%; }

.cart-product-name,
.cart-product-price,
.cart-product-quantity {
  padding: 15px 0.5em; }

.product-subtotal {
  padding: 15px 0 15px 0.5em; }

.continue-shopping {
  float: left; }

.button-continue-shopping {
  display: block;
  border: 2px solid #d0011b;
  color: #d0011b;
  background-color: #fff;
  margin-bottom: 1em;
  margin-right: 1em;
  text-shadow: none;
  line-height: 2.4em;
  min-height: 2.5em;
  padding: 0 1.2em;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;
  max-width: 100%; }

.cart__collaterals {
  border-left: 1px solid #ececec;
  padding: 0 30px;
  margin-bottom: 0;
  padding-bottom: 0; }
  .cart__collaterals table {
    font-size: 14px;
    width: 100%;
    margin-bottom: 1em;
    border-color: #ececec;
    border-spacing: 0; }
  .cart__collaterals table:first-child thead tr th {
    border-width: 3px;
    padding: 0.5em 0;
    text-align: left;
    border-bottom: 1px solid #ececec !important;
    border-style: solid;
    line-height: 1.05; }
  .cart__collaterals table:nth-child(2) {
    border-spacing: 0; }
    .cart__collaterals table:nth-child(2) tbody tr th,
    .cart__collaterals table:nth-child(2) tbody tr td {
      letter-spacing: 0;
      font-weight: 400;
      padding: 0.5em;
      border-bottom: 1px solid #ececec; }
    .cart__collaterals table:nth-child(2) tbody tr th {
      text-align: left;
      padding-left: 0;
      line-height: 1.05; }
    .cart__collaterals table:nth-child(2) tbody tr td {
      text-align: right;
      padding-right: 0;
      line-height: 1.3; }
      .cart__collaterals table:nth-child(2) tbody tr td ul {
        list-style: none; }
        .cart__collaterals table:nth-child(2) tbody tr td ul label {
          font-weight: 400;
          margin: 0;
          padding: 0.5em 0;
          opacity: 0.8;
          display: inline-block; }

.wc-proceed-to-checkout {
  margin: 1.5em 0; }
  .wc-proceed-to-checkout a {
    min-width: 100%;
    margin-right: 0;
    display: block;
    background-color: #d0011b;
    margin-bottom: 1em;
    border-color: rgba(0, 0, 0, 0.05);
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-top: 0;
    margin-right: 1em;
    text-shadow: none;
    line-height: 2.4em;
    min-height: 2.5em;
    letter-spacing: 0.03em;
    cursor: pointer;
    text-align: center;
    padding: 0 1.2em;
    max-width: 100%; }

.product-box {
  position: relative;
  padding: 10px;
  flex: 1 0 20%; }
  @media only screen and (max-width: 849px) {
    .product-box {
      flex: 1 0 calc(100% / 3); } }
  @media only screen and (max-width: 549px) {
    .product-box {
      flex: 1 0 calc(100% / 2); } }
  .product-box__badge {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 10px; }
    .product-box__badge span {
      display: block;
      min-width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      border-radius: 50%;
      color: #fff;
      background: #ff9800;
      font-size: 0.9em; }
  .product-box__image img {
    width: 100%;
    object-fit: cover; }
    .product-box__image img::after {
      content: '';
      display: block;
      padding-bottom: 100%; }
  .product-box__text {
    padding: 0.8em 0;
    font-size: 1.15em; }
    .product-box__text-name {
      margin-top: 0.3em;
      margin-bottom: 1em;
      font-size: 0.9em;
      line-height: 1.3;
      height: 2.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical; }
    .product-box__text-info {
      font-size: 1.4rem; }

.product-box__rating {
  font-size: 13px;
  text-align: left;
  display: block;
  overflow: hidden;
  position: relative;
  width: 75px;
  height: 13px;
  line-height: 13px;
  letter-spacing: 0;
  font-family: 'Font Awesome 6 Pro';
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 1em; }
  .product-box__rating i {
    color: ff9800; }

.product-box__price {
  font-size: 1.2em;
  line-height: 1; }

.product-box__price--sale {
  opacity: 0.6;
  font-size: 15px;
  font-weight: 400;
  margin-right: 0.3em;
  color: #666;
  text-decoration: line-through; }

.product-box__price--current {
  color: #d0011b;
  font-size: 16px; }

.product-box__status {
  color: #009627;
  font-size: 0.9em;
  margin-top: 0.5em; }
  .product-box__status i {
    margin-right: 3px; }

.footer-top {
  border-top: 1px solid #e5e5e5;
  padding-top: 10px; }

.footer-top__wrapper {
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto; }
  @media only screen and (max-width: 849px) {
    .footer-top__wrapper {
      grid-template-columns: 1fr; } }

.footer-top__wrapper-col {
  padding: 0 15px 0px;
  margin-bottom: 20px; }
  @media only screen and (max-width: 849px) {
    .footer-top__wrapper-col {
      margin-top: 20px; }
      .footer-top__wrapper-col:not(:last-child) {
        margin-bottom: 0; }
      .footer-top__wrapper-col:last-child {
        margin-bottom: 30px; } }

.footer-center {
  border-top: 1px solid #e5e5e5;
  padding: 30px 0 0; }

.footer-center__wrapper {
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto; }
  @media only screen and (max-width: 849px) {
    .footer-center__wrapper {
      grid-template-columns: 1fr; } }

.footer-bottom {
  color: rgba(0, 0, 0, 0.5);
  padding: 10px 0 15px; }

.footer-bottom__copyright {
  max-width: 1170px;
  padding: 0 15px 15px 15px;
  margin: 0 auto; }
  @media only screen and (max-width: 849px) {
    .footer-bottom__copyright {
      text-align: center; } }

.header {
  height: 80px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 549px) {
    .header {
      height: 60px; } }
  .header__inner {
    display: flex;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto; }
    @media only screen and (max-width: 849px) {
      .header__inner {
        justify-content: space-between;
        align-items: center; } }
  .header__logo {
    display: flex;
    align-items: center;
    width: 200px;
    margin-right: 14px; }
    @media only screen and (max-width: 849px) {
      .header__logo {
        width: auto;
        margin-right: 0; } }
    .header__logo a {
      max-width: 50px; }
    .header__logo img {
      width: 100%;
      max-height: 80px; }
      @media only screen and (max-width: 849px) {
        .header__logo img {
          height: 36px; } }
  .header__menu {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-left: 20px;
    color: #fff;
    background: #d0011b;
    line-height: 38px;
    text-transform: capitalize;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer; }
    @media only screen and (max-width: 849px) {
      .header__menu {
        display: none; } }
  .header__menu-icon {
    display: flex;
    align-items: center; }
    .header__menu-icon i {
      font-size: 16px;
      margin-right: 6px; }
    .header__menu-icon:hover ~ .header__menu-list {
      display: block; }
  .header__menu-list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    min-width: 250px;
    padding: 0;
    margin-top: 0;
    border-top: 21px solid transparent;
    background-color: #fff;
    touch-action: pan-y; }
    .header__menu-list:hover {
      display: block; }
  .header__menu-item {
    position: relative; }
    .header__menu-item > a {
      position: relative;
      font-size: 0.9em;
      line-height: 38px;
      padding: 0 1em;
      display: flex;
      align-items: center;
      min-width: 250px; }
      .header__menu-item > a::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0.5em;
        height: 0;
        width: 0;
        margin-top: -5px;
        border: 5px solid transparent;
        border-left-color: #5f5a5a; }
    .header__menu-item:hover {
      background-color: #f5f5f5; }
      .header__menu-item:hover .header__sub-menu {
        display: block; }
  .header__sub-menu {
    display: none;
    height: 494px;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 99;
    background: #fff;
    list-style: none;
    min-width: 250px;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); }
    .header__sub-menu li:hover {
      background-color: #f5f5f5; }
    .header__sub-menu a {
      font-size: 0.9em;
      line-height: 38px;
      padding: 0 1em;
      display: flex;
      align-items: center;
      min-width: 250px; }
  .header__search {
    display: flex;
    align-items: center;
    flex: 1; }
    @media only screen and (max-width: 849px) {
      .header__search {
        display: none; } }
  .header__search-form {
    display: flex;
    width: 100%;
    font-weight: 400;
    z-index: 9; }
    .header__search-form input {
      flex: 1;
      height: 40px;
      border-right: none;
      padding: 5px 10px;
      border-radius: 0;
      outline: none;
      width: 100%;
      max-width: 100%;
      vertical-align: middle;
      border: 1px solid #e5e5e5;
      border-radius: 3px 0 0 3px;
      color: #333;
      font: inherit; }
    .header__search-form button {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border: none;
      background: #d0011b;
      cursor: pointer;
      border-radius: 0 3px 3px 0; }
      .header__search-form button i {
        color: #fff;
        font-size: 1.3em; }
  .header__nav {
    display: flex;
    align-items: center;
    padding-left: 14px; }
  .header__nav-list {
    display: flex;
    align-items: center;
    list-style: none; }
  .header__nav-item {
    background-color: #f1f1f1; }
    @media only screen and (max-width: 849px) {
      .header__nav-item {
        background-color: transparent; } }
    .header__nav-item a {
      display: inline-flex;
      flex-wrap: wrap;
      color: #333;
      line-height: 16px;
      font-family: 'Lato', sans-serif;
      text-transform: capitalize;
      height: 40px;
      align-items: center;
      padding: 0 10px; }
      .header__nav-item a span b {
        display: block;
        color: #d0011b;
        font-weight: 400; }
      .header__nav-item a i {
        font-size: 18px;
        margin-left: 5px; }
    @media only screen and (max-width: 849px) {
      .header__nav-item:not(:last-child) {
        display: none; } }
  .header__cart {
    display: inline-block;
    position: relative; }
  .header__cart-link {
    display: flex;
    align-items: center;
    padding-right: 55px !important;
    border-radius: 3px; }
    .header__cart-link i {
      min-width: 1em; }

.cart-quantity {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  color: #fff;
  background: #d0011b;
  line-height: 40px;
  text-align: center;
  border-radius: 0 3px 3px 0; }

.header-divider {
  position: relative;
  height: 30px;
  margin: 0 7.5px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  vertical-align: middle; }

.mobile-nav {
  display: none; }
  @media only screen and (max-width: 849px) {
    .mobile-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f5f5f5;
      width: 40px;
      height: 40px;
      border-radius: 9999px; } }
  .mobile-nav i {
    font-size: 20px; }

.section {
  position: relative;
  padding: 0 15px 30px; }

.section__title {
  margin-bottom: 21px; }
  .section__title h3 {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 17.5px;
    margin-bottom: 8px;
    padding-bottom: 7.5px;
    border-bottom: 2px solid #ccc;
    text-transform: capitalize; }
    .section__title h3 span {
      padding-bottom: 11.5px;
      border-bottom: 2px solid #d0011b;
      margin-bottom: -2px; }

.section__main {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 0 10px; }

.btn-slider {
  display: block;
  width: 36px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  background-color: #fff; }
  .btn-slider i {
    font-size: 2rem; }
  .btn-slider--prev {
    left: -5px; }
  .btn-slider--next {
    right: -5px; }

.featured-title {
  min-height: 60px;
  max-width: 1170px;
  padding: 20px 15px 10px 15px; }

.title-divider {
  height: 1px;
  max-width: calc(100% - 30px) !important;
  background: #e8e8e8;
  margin: auto; }

.feature-box__top {
  display: grid;
  grid-template-columns: 5fr 4fr 3fr;
  padding-top: 20px; }

.product-gallery {
  padding: 0 15px; }
  .product-gallery img {
    width: 100%;
    margin-bottom: 15px; }

.product-thumbnails {
  display: flex; }

.call-to-action {
  padding: -0 15px; }
  .call-to-action form {
    margin-bottom: 14px; }

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding: 5px 10px;
  border: 1px solid #e8e8e8;
  border-radius: 3px; }
  .product-rating div {
    margin-right: 5px;
    width: 73px;
    height: 13px; }
    .product-rating div i {
      font-size: 12px;
      line-height: 13px;
      color: #ff9800; }

.product-price {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px; }
  .product-price p {
    display: block;
    margin: 0.1em 0;
    font-size: 1em; }
    .product-price p span:first-child {
      font-weight: 400;
      margin-right: 8px;
      text-decoration: line-through;
      opacity: 0.6; }
    .product-price p span:last-child {
      font-size: 19.6px;
      color: #d0011b; }

.vat {
  margin-bottom: 20px; }
  .vat span {
    display: inline-block;
    background: #f1f1f1;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 0.85em; }
    .vat span:first-child {
      margin-right: 4px; }

.quantity {
  display: flex;
  text-align: center; }
  .quantity .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-shadow: 1px 1px 1px #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    border-radius: 3px; }
  .quantity .btn--minus {
    border-right: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important; }
  .quantity .btn--plus {
    border-left: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important; }
  .quantity input {
    font-size: 16.8px;
    width: 42px;
    border: 1px solid #e5e5e5;
    text-align: center; }

.cta-button {
  margin-top: 20px;
  letter-spacing: 0.03em; }

.product-add-to-cart {
  display: block;
  width: 100%;
  background: rgba(208, 1, 27, 0.08);
  color: #d0011b;
  line-height: 40px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 14px;
  border: 1px solid transparent;
  border-color: #d0011b;
  min-height: 2.5em;
  padding: 0 1.2em;
  border-radius: 3px;
  font-size: 14px;
  letter-spacing: 0.03em; }

.product-buy-now {
  display: block;
  width: 100%;
  color: #fff;
  background-color: #d0011b;
  border-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 1em;
  border-radius: 3px;
  min-height: 2.5em;
  padding: 0 1.2em;
  text-align: center;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400; }

.customer {
  padding: 0 15px 30px;
  padding-left: 10px; }
  .customer aside {
    margin-bottom: 20px; }

.policys {
  border: 1px solid #ddd;
  border-radius: 3px; }

.policy-item {
  display: flex;
  align-items: center; }
  .policy-item:not(:last-child) {
    border-bottom: 1px solid #ddd; }
  .policy-item i {
    color: #d0011b;
    font-size: 32px;
    line-height: 54px;
    width: 54px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px; }

.wrapper {
  padding-top: 30px; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

@media only screen and (max-width: 849px) {
  .policy {
    display: flex;
    align-items: center; } }

.policy__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  margin: 20px auto;
  border: 1px solid #d0011b;
  border-radius: 9999px;
  color: #d0011b;
  font-size: 32px;
  line-height: 72px;
  text-align: center; }
  @media only screen and (max-width: 849px) {
    .policy__icon {
      width: 48px;
      height: 48px;
      font-size: 20px;
      line-height: 48px;
      margin: 0 10px 0 0; } }

.policy__content {
  text-align: center; }
  @media only screen and (max-width: 849px) {
    .policy__content {
      text-align: left; } }
  .policy__content h5 {
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5em;
    color: #333;
    font-size: 1em; }
  .policy__content p {
    margin-bottom: 10px;
    color: #333; }
    @media only screen and (max-width: 849px) {
      .policy__content p {
        margin-bottom: 0; } }

.widget {
  padding: 0 15px 0px;
  margin-bottom: 20px; }
  .widget p {
    margin-bottom: 1em; }
    .widget p strong {
      font-weight: 400; }

.widget__title {
  font-size: 1.35em;
  line-height: 1.05; }

.pay__header {
  padding: 20px 15px 0 15px;
  min-height: 60px; }
  .pay__header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0; }
    .pay__header nav a:first-child,
    .pay__header nav a:last-child {
      color: #ccc; }
    .pay__header nav span {
      margin: 0 0.5em;
      text-align: right; }

.pay__container {
  padding: 30px 15px;
  max-width: 1170px;
  margin: 0 auto; }

.woocommerce__form {
  margin-bottom: 1em; }
  .woocommerce__form-box {
    display: grid;
    grid-template-columns: 7fr 5fr; }
    .woocommerce__form-box > div {
      padding: 0 15px 30px; }
    @media only screen and (max-width: 849px) {
      .woocommerce__form-box {
        display: flex;
        flex-direction: column; } }

.customer-info {
  border-top: 2px solid #ddd; }
  .customer-info h3 {
    font-size: 1.75em;
    font-weight: 400;
    padding-top: 25px;
    margin-bottom: 0.5em;
    font-family: 'Montserrat', sans-serif; }
  .customer-info p {
    margin-bottom: 0.5em; }
    .customer-info p input {
      padding: 5px 10px;
      width: 100%;
      border: 1px solid #e5e5e5;
      margin-bottom: 1em;
      font: inherit; }
    @media only screen and (max-width: 549px) {
      .customer-info p {
        width: 100% !important; } }
  .customer-info .form__group--first {
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-bottom: 0.5em; }
  .customer-info .form__group--last {
    width: 48%;
    float: left;
    margin-bottom: 0.5em; }

.order {
  border: 1px solid #e5e5e5;
  padding: 15px 30px 30px; }
  .order h3 {
    font-size: 1.75em;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    font-weight: 400;
    margin-bottom: 0.5em; }
  .order > table {
    width: 100%;
    font-size: 14px;
    border-spacing: 0;
    line-height: 1.05;
    margin-bottom: 1em; }
    .order > table th,
    .order > table td {
      border-bottom: 1px solid #ececec;
      padding: 0.5em; }
    .order > table span {
      color: #d0011b; }
    .order > table thead tr th {
      white-space: nowrap; }
      .order > table thead tr th:first-child {
        padding-left: 0;
        text-align: left; }
      .order > table thead tr th:last-child {
        padding-right: 0;
        text-align: right; }
    .order > table tbody tr td {
      line-height: 1.3;
      padding: 15px 7px; }
      .order > table tbody tr td:first-child {
        padding-left: 0;
        text-align: left; }
      .order > table tbody tr td:last-child {
        padding-right: 0;
        text-align: right; }
      .order > table tbody tr td dl {
        margin: 0.5em 0;
        opacity: 0.9; }
        .order > table tbody tr td dl dt {
          margin-right: 5px;
          float: left;
          clear: both; }
    .order > table tfoot tr th {
      padding-left: 0;
      text-align: left; }
    .order > table tfoot tr td {
      padding-right: 0;
      line-height: 1.3;
      text-align: right; }
    .order > table tfoot tr:nth-child(2) td {
      padding: 0;
      width: 100%;
      border: none; }
      .order > table tfoot tr:nth-child(2) td > table {
        border-spacing: 0;
        font-size: 14px;
        width: 100%; }
        .order > table tfoot tr:nth-child(2) td > table tr th {
          line-height: 1.05;
          width: 30%; }
        .order > table tfoot tr:nth-child(2) td > table tr td {
          text-align: right;
          padding: 0.5em;
          border-bottom: 1px solid #ececec;
          padding-right: 0; }
          .order > table tfoot tr:nth-child(2) td > table tr td div {
            font-weight: 400;
            padding: 0.5em 0;
            opacity: 0.8;
            flex: 1; }
          .order > table tfoot tr:nth-child(2) td > table tr td label {
            margin-right: 5px; }

.pay-method p {
  margin-bottom: 10px; }

.pay-method ul {
  margin-left: 0.2em;
  margin-bottom: 1em;
  list-style: none; }
  .pay-method ul input {
    display: inline;
    margin: 10px 10px 10px 0;
    font-size: 16px; }

.pay-method button {
  color: #fff;
  background-color: #d0011b;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: 1px solid transparent;
  line-height: 2.4em;
  min-height: 2.5em;
  margin-right: 1em;
  padding: 0 1.2em;
  letter-spacing: 0.03em; }
