.is-divider {
  margin: 0.66em 0 1em 0;
  height: 1px;
  background-color: #888;
  width: 100%;
  max-width: 60px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  color: #333;
  font-size: 14px;
  line-height: 1.6;
  font-family: Helvetica, Arial, sans-serif; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background: #888; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6; }

.cart-checkout-title__container {
  max-width: 1170px;
  min-height: 60px;
  margin: 0 auto;
  padding: 20px 15px 0 15px; }
  .cart-checkout-title__container div nav {
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0;
    color: #222;
    letter-spacing: 0;
    line-height: 1.75;
    text-align: center; }
  .cart-checkout-title__container div nav a {
    color: #ccc; }
  .cart-checkout-title__container div nav span {
    margin: 0 0.3em;
    opacity: 0.35;
    font-weight: 300; }
  .cart-checkout-title__container .current {
    color: #111 !important; }

.cart-checkout-page {
  max-width: 1170px;
  padding: 30px 15px;
  margin: 0 auto; }

.cart-checkout-page__wrapper {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 0;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 7fr 5fr; }

.cart-checkout-page__wrapper-left {
  padding: 0 30px 30px;
  margin-bottom: 0;
  padding-bottom: 0; }

.cart-checkout-page__wrapper-right {
  border-left: 1px solid #ececec;
  padding: 0 30px 30px;
  margin-bottom: 0;
  padding-bottom: 0; }

.product {
  padding: 10px;
  flex: 1 0 20%; }
  @media only screen and (max-width: 849px) {
    .product {
      flex: 1 0 calc(100% / 3); } }
  @media only screen and (max-width: 549px) {
    .product {
      flex: 1 0 calc(100% / 2); } }
  .product img {
    width: 100%;
    object-fit: cover; }
    .product img::after {
      content: '';
      display: block;
      padding-bottom: 100%; }

.product__name {
  margin: 7px 0 21px 0; }

.product-info {
  padding: 10px 0; }

.product-info__rating {
  font-size: 13px;
  text-align: left;
  display: block;
  overflow: hidden;
  position: relative;
  width: 65px;
  height: 13px;
  line-height: 13px;
  letter-spacing: 0;
  font-family: 'Font Awesome 6 Pro';
  font-weight: 900;
  -webkit-font-smoothing: antialiased; }
  .product-info__rating i {
    color: ff9800; }

.product-info__price--sale {
  opacity: 0.6;
  font-size: 15px;
  font-weight: 400;
  margin-right: 0.3em;
  color: #666;
  text-decoration: line-through; }

.product-info__price--current {
  color: #d0011b;
  font-size: 16px; }

.product-info__status {
  color: #009627;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em; }

.footer-top {
  border-top: 1px solid #e5e5e5;
  padding-top: 10px; }

.footer-top__wrapper {
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto; }
  @media only screen and (max-width: 849px) {
    .footer-top__wrapper {
      grid-template-columns: 1fr; } }

.footer-top__wrapper-col {
  padding: 0 15px 0px;
  margin-bottom: 20px; }
  @media only screen and (max-width: 849px) {
    .footer-top__wrapper-col {
      margin-top: 20px; }
      .footer-top__wrapper-col:not(:last-child) {
        margin-bottom: 0; }
      .footer-top__wrapper-col:last-child {
        margin-bottom: 30px; } }

.footer-center {
  border-top: 1px solid #e5e5e5;
  padding: 30px 0 0; }

.footer-center__wrapper {
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto; }
  @media only screen and (max-width: 849px) {
    .footer-center__wrapper {
      grid-template-columns: 1fr; } }

.footer-bottom {
  color: rgba(0, 0, 0, 0.5);
  padding: 10px 0 15px; }

.footer-bottom__copyright {
  max-width: 1170px;
  padding: 0 15px 15px 15px;
  margin: 0 auto; }
  @media only screen and (max-width: 849px) {
    .footer-bottom__copyright {
      text-align: center; } }

.header__main {
  height: 80px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 549px) {
    .header__main {
      height: 60px; } }

.header__inner {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }
  @media only screen and (max-width: 849px) {
    .header__inner {
      justify-content: space-between;
      align-items: center; } }

.header__logo {
  display: flex;
  align-items: center;
  width: 200px;
  margin-right: 14px; }
  .header__logo a {
    max-width: 50px; }
  .header__logo img {
    width: 100%;
    max-height: 80px; }
    @media only screen and (max-width: 849px) {
      .header__logo img {
        height: 36px; } }
  @media only screen and (max-width: 849px) {
    .header__logo {
      width: auto;
      margin-right: 0; } }

.header__menu {
  margin-left: 20px;
  display: flex;
  align-items: center;
  background: #d0011b;
  color: #fff;
  line-height: 38px;
  text-transform: capitalize;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 3px;
  white-space: nowrap;
  position: relative; }
  .header__menu:hover .container {
    background: rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 849px) {
    .header__menu {
      display: none; } }

.header__menu-icon i {
  margin-right: 6px;
  font-size: 16px; }

.header__menu-icon:hover ~ .header__menu-wrap {
  display: block; }

.header__menu-wrap {
  touch-action: pan-y;
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  min-width: 250px;
  border-top: 21px solid transparent;
  background-color: #fff; }
  .header__menu-wrap:hover {
    display: block; }

.header__menu-item {
  position: relative; }
  .header__menu-item > a {
    position: relative;
    font-size: 0.9em;
    line-height: 38px;
    padding: 0 1em;
    display: flex;
    align-items: center;
    min-width: 250px; }
    .header__menu-item > a::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0.5em;
      margin-top: -5px;
      height: 0;
      width: 0;
      border: 5px solid transparent;
      border-left-color: #5f5a5a; }
  .header__menu-item:hover {
    background-color: #f5f5f5; }
    .header__menu-item:hover .header__sub-menu {
      display: block; }

.header__sub-menu {
  display: none;
  height: 494px;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 99;
  background: #fff;
  list-style: none;
  min-width: 250px;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); }
  .header__sub-menu li:hover {
    background-color: #f5f5f5; }
  .header__sub-menu a {
    font-size: 0.9em;
    line-height: 38px;
    padding: 0 1em;
    display: flex;
    align-items: center;
    min-width: 250px; }

.header__search {
  display: flex;
  align-items: center;
  flex: 1; }
  @media only screen and (max-width: 849px) {
    .header__search {
      display: none; } }

.header__search-form {
  display: flex;
  width: 100%;
  font-weight: 400;
  z-index: 9; }
  .header__search-form input {
    height: 40px;
    border-right: none;
    padding: 5px 10px;
    border-radius: 0;
    outline: none;
    max-width: 100%;
    width: 92%;
    vertical-align: middle;
    border: 1px solid #e5e5e5;
    border-radius: 3px 0 0 3px;
    color: #333; }
  .header__search-form button {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: none;
    background: #d0011b;
    cursor: pointer;
    border-radius: 0 3px 3px 0; }
    .header__search-form button i {
      color: #fff;
      font-size: 1.3em; }

.header__nav {
  display: flex;
  align-items: center;
  padding-left: 14px; }
  .header__nav ul {
    display: flex;
    align-items: center;
    list-style: none; }
    .header__nav ul li {
      background-color: #f1f1f1; }
      @media only screen and (max-width: 849px) {
        .header__nav ul li {
          background-color: transparent; } }
      .header__nav ul li a {
        display: inline-flex;
        flex-wrap: wrap;
        color: #333;
        line-height: 16px;
        font-family: 'Lato', sans-serif;
        text-transform: capitalize;
        height: 40px;
        align-items: center;
        padding: 0 10px; }
        .header__nav ul li a span b {
          display: block;
          color: #d0011b;
          font-weight: 400; }
        .header__nav ul li a i {
          margin-left: 5px;
          font-size: 18px; }
      @media only screen and (max-width: 849px) {
        .header__nav ul li:not(:last-child) {
          display: none; } }

.header-divider {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  vertical-align: middle;
  position: relative;
  margin: 0 7.5px; }

.header-cart {
  position: relative; }

.header__nav-cart {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 3px; }
  @media only screen and (max-width: 849px) {
    .header__nav-cart {
      background: transparent; } }
  @media only screen and (max-width: 849px) {
    .header__nav-cart span {
      display: none; } }
  .header__nav-cart i {
    margin-left: 5px;
    min-width: 1em;
    font-size: 18px; }

.mobile-nav {
  display: none; }
  @media only screen and (max-width: 849px) {
    .mobile-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f5f5f5;
      width: 40px;
      height: 40px;
      border-radius: 9999px; } }
  .mobile-nav i {
    font-size: 20px; }

.section {
  padding: 0 15px 30px; }

.section__title {
  margin-bottom: 21px; }
  .section__title h3 {
    display: inline-block;
    font-weight: 400;
    font-size: 17.5px;
    margin-bottom: 8px;
    padding-bottom: 7.5px;
    border-bottom: 2px solid #d0011b;
    text-transform: capitalize; }

.section__main {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden; }

a {
  text-decoration: none;
  color: #333; }

.cart-quantity {
  margin-left: 5px;
  top: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #d0011b;
  color: #fff;
  line-height: 40px;
  text-align: center;
  border-radius: 0 3px 3px 0; }

.container {
  padding-top: 30px;
  max-width: 1170px;
  margin: 0 auto; }

@media only screen and (max-width: 849px) {
  .policy {
    display: flex;
    align-items: center; } }

.policy__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  margin: 20px auto;
  border: 1px solid #d0011b;
  border-radius: 9999px;
  color: #d0011b;
  font-size: 32px;
  line-height: 72px;
  text-align: center; }
  @media only screen and (max-width: 849px) {
    .policy__icon {
      width: 48px;
      height: 48px;
      font-size: 20px;
      line-height: 48px;
      margin: 0 10px 0 0; } }

.policy__content {
  text-align: center; }
  @media only screen and (max-width: 849px) {
    .policy__content {
      text-align: left; } }
  .policy__content h5 {
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5em;
    color: #333;
    font-size: 1em; }
  .policy__content p {
    margin-bottom: 10px;
    color: #333; }
    @media only screen and (max-width: 849px) {
      .policy__content p {
        margin-bottom: 0; } }

.widget {
  padding: 0 15px 0px;
  margin-bottom: 20px; }
  .widget p {
    margin-bottom: 1em; }
    .widget p strong {
      font-weight: 400; }

.widget__title {
  font-size: 1.35em;
  line-height: 1.05; }

.pay__header {
  padding: 20px 15px 0 15px;
  min-height: 60px; }
  .pay__header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0; }
    .pay__header nav a:first-child,
    .pay__header nav a:last-child {
      color: #ccc; }
    .pay__header nav span {
      margin: 0 0.5em;
      text-align: right; }

.pay__container {
  padding: 30px 15px;
  max-width: 1170px;
  margin: 0 auto; }

.woocommerce__form {
  margin-bottom: 1em; }
  .woocommerce__form-box {
    display: grid;
    grid-template-columns: 7fr 5fr; }
    .woocommerce__form-box > div {
      padding: 0 15px 30px; }
    @media only screen and (max-width: 849px) {
      .woocommerce__form-box {
        display: flex;
        flex-direction: column; } }

.customer-info {
  border-top: 2px solid #ddd; }
  .customer-info h3 {
    font-size: 1.75em;
    font-weight: 400;
    padding-top: 25px;
    margin-bottom: 0.5em;
    font-family: 'Montserrat', sans-serif; }
  .customer-info p {
    margin-bottom: 0.5em; }
    .customer-info p input {
      padding: 5px 10px;
      width: 100%;
      border: 1px solid #e5e5e5;
      margin-bottom: 1em;
      font: inherit; }
    @media only screen and (max-width: 549px) {
      .customer-info p {
        width: 100% !important; } }
  .customer-info .form__group--first {
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-bottom: 0.5em; }
  .customer-info .form__group--last {
    width: 48%;
    float: left;
    margin-bottom: 0.5em; }

.order {
  border: 1px solid #e5e5e5;
  padding: 15px 30px 30px; }
  .order h3 {
    font-size: 1.75em;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    font-weight: 400;
    margin-bottom: 0.5em; }
  .order > table {
    width: 100%;
    font-size: 14px;
    border-spacing: 0;
    line-height: 1.05;
    margin-bottom: 1em; }
    .order > table th,
    .order > table td {
      border-bottom: 1px solid #ececec;
      padding: 0.5em; }
    .order > table span {
      color: #d0011b; }
    .order > table thead tr th {
      white-space: nowrap; }
      .order > table thead tr th:first-child {
        padding-left: 0;
        text-align: left; }
      .order > table thead tr th:last-child {
        padding-right: 0;
        text-align: right; }
    .order > table tbody tr td {
      line-height: 1.3;
      padding: 15px 7px; }
      .order > table tbody tr td:first-child {
        padding-left: 0;
        text-align: left; }
      .order > table tbody tr td:last-child {
        padding-right: 0;
        text-align: right; }
      .order > table tbody tr td dl {
        margin: 0.5em 0;
        opacity: 0.9; }
        .order > table tbody tr td dl dt {
          margin-right: 5px;
          float: left;
          clear: both; }
    .order > table tfoot tr th {
      padding-left: 0;
      text-align: left; }
    .order > table tfoot tr td {
      padding-right: 0;
      line-height: 1.3;
      text-align: right; }
    .order > table tfoot tr:nth-child(2) td {
      padding: 0;
      width: 100%;
      border: none; }
      .order > table tfoot tr:nth-child(2) td > table {
        border-spacing: 0;
        font-size: 14px;
        width: 100%; }
        .order > table tfoot tr:nth-child(2) td > table tr th {
          line-height: 1.05;
          width: 30%; }
        .order > table tfoot tr:nth-child(2) td > table tr td {
          text-align: right;
          padding: 0.5em;
          border-bottom: 1px solid #ececec;
          padding-right: 0; }
          .order > table tfoot tr:nth-child(2) td > table tr td div {
            font-weight: 400;
            padding: 0.5em 0;
            opacity: 0.8;
            flex: 1; }
          .order > table tfoot tr:nth-child(2) td > table tr td label {
            margin-right: 5px; }

.pay-method p {
  margin-bottom: 10px; }

.pay-method ul {
  margin-left: 0.2em;
  margin-bottom: 1em;
  list-style: none; }
  .pay-method ul input {
    display: inline;
    margin: 10px 10px 10px 0;
    font-size: 16px; }

.pay-method button {
  color: #fff;
  background-color: #d0011b;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: 1px solid transparent;
  line-height: 2.4em;
  min-height: 2.5em;
  margin-right: 1em;
  padding: 0 1.2em;
  letter-spacing: 0.03em; }
