// Mobile-first design
$mobile-screen: 549px;
$tablet-screen: 849px;
$desktop-screen: 1024px;

// Mixin for mobile screens
@mixin mobile {
    @media only screen and (max-width: $mobile-screen) {
        @content;
    }
}

// Mixin for tablet screens
@mixin tablet {
    @media only screen and (max-width: $tablet-screen) {
        @content;
    }
}

// Mixin for desktop screens
@mixin desktop {
    @media only screen and (min-width: $tablet-screen) {
        @content;
    }
}
