mixin product(name, discount, imageCover)
  .product-box
      .product-box__badge
        span= `${discount}%`
      .product-box__image
        img(src=`/img/products/${imageCover}` alt='')
      .product-box__text
        .product-box__text-name
          = name
        .product-box__text-info
          .product-box__rating
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
          .product-box__price
            span.product-box__price--sale
              | 500.000
              span.current-symbol &#x20AB;
            span.product-box__price--current
              | 300.000
              span.current-symbol &#x20AB;
          .product-box__status
            i.fa-solid.fa-check
            | Còn hàng