extends ../base
include ../mixins/product.pug

block content 
    .container
        .category__header
            include ../components/breadCrumbs
            .category__header-sort 
                p Thứ tự sắp xếp
                | 
                form
                    select.orderby(name='orderby', aria-label='Đơn hàng của cửa hàng')
                        option(value='menu_order', selected='selected') Mặc định
                        option(value='date') Xem nhiều
                        option(value='popularity') Mới nhất
                        option(value='price') Giá thấp
                        option(value='price-desc') Giá cao


        .category__content
            .col.l-3.m-0.c-0
                aside.sidebar 
                    span.sidebar__title Danh mục sản phẩm
                    |.
                    .is-divider
                    ul.categories
                        li.category-item 
                            a(href="/category/64366f447a0a13b5d3788c95") Chuột
                        li.category-item 
                            a(href="/category/64366f4e7a0a13b5d3788c97") Bàn Phím
                        li.category-item 
                            a(href="/category/64366f537a0a13b5d3788c99") Tai Nghe
                        li.category-item 
                            a(href="/category/64366f597a0a13b5d3788c9b") Bàn Di Chuột
                span.sidebar__title Lọc sản phẩm
                .is-divider             
            .col.l-9.m-12.c-12
                .row
                    each product in products
                        .c-6.m-4.l-3.product-small
                            +product(product.name, product.discount, product.imageCover)
                        //- .c-6.m-4.l-3.product-small
                        //-     +product('Chuột Dareu EM908 (Đen/Trắng/Hồng)')
                        //- .c-6.m-4.l-3.product-small
                        //-     +product('Chuột Dareu EM908 (Đen/Trắng/Hồng)')
                        //- .c-6.m-4.l-3.product-small
                        //-     +product('Chuột Dareu EM908 (Đen/Trắng/Hồng)')
                        //- .c-6.m-4.l-3.product-small
                        //-     +product('Chuột Dareu EM908 (Đen/Trắng/Hồng)')
                        //- .c-6.m-4.l-3.product-small
                        //-     +product('Chuột Dareu EM908 (Đen/Trắng/Hồng)')
                        //- .c-6.m-4.l-3.product-small
                        //-     +product('Chuột Dareu EM908 (Đen/Trắng/Hồng)')


