extends ../base

block content 
    .container
        .featured-title  
            div
                h1.heading-primary Tai Nghe Dareu EH416 Dây USB, Giả Lập 7.1
                include ../components/breadCrumbs
        .title-divider

        .feature-box
            .feature-box__top
                .product-gallery
                    img(src="https://phukienabc.com/wp-content/uploads/2022/10/Tai-Nghe-DAREU-EH416.jpg") 
                    .product-thumbnails
                        a
                            img(src='https://phukienabc.com/wp-content/uploads/2022/10/Tai-Nghe-DAREU-EH416-208x208.jpg')
                        a
                            img(src='https://phukienabc.com/wp-content/uploads/2022/10/Tai-Nghe-DAREU-EH416-208x208.jpg')
                        a
                            img(src='https://phukienabc.com/wp-content/uploads/2022/10/Tai-Nghe-DAREU-EH416-208x208.jpg')
                        a
                            img(src='https://phukienabc.com/wp-content/uploads/2022/10/Tai-Nghe-DAREU-EH416-208x208.jpg')
                .call-to-action
                    .product-rating
                        div 
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                        span.reviews-counter (40 đánh giá)
                    .product-price
                        p 
                            span 500.000d
                            span 349.000d
                    .vat 
                        span Có VAT 
                        span Bảo hành 24 Tháng
                    form 
                        .quantity
                            .btn.btn--minus
                                svg(focusable='false', style='width: 10px; height: 10px;', viewBox='0 0 10 2', role='presentation')
                                    path(d='M10 0v2H0V0z', fill='currentColor')
                            input(type='number', value='1')
                            .btn.btn--plus
                                svg(focusable='false', style='width: 10px; height: 10px;', viewBox='0 0 10 10', role='presentation')
                                    path(d='M6 4h4v2H6v4H4V6H0V4h4V0h2v4z', fill='currentColor', fill-rule='evenodd')
                        .cta-button
                            button.product-add-to-cart Thêm vào giỏ hàng
                            a.product-buy-now Mua Ngay
                .customer
                    aside 
                        include ../components/policys

            .feature-box__bottom

