.breadcrumbs {
    color: #222;
    letter-spacing: 0;
    line-height: 1.75;
}

.breadcrumbs-link {
    color: rgba(102, 102, 102, 0.7);
    font-weight: 400;
}

.divider {
    text-align: center;
    opacity: 0.35;
    margin: 0 0.3em;
}
