.header {
    height: 80px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);

    @include mobile {
        height: 60px;
    }

    &__inner {
        display: flex;
        height: 100%;
        padding: 0 15px;
        margin: 0 auto;

        @include tablet {
            justify-content: space-between;
            align-items: center;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        width: 200px;
        margin-right: 14px;

        @include tablet {
            width: auto;
            margin-right: 0;
        }

        a {
            max-width: 50px;

            img {
                width: 100%;
                max-height: 80px;

                @include tablet {
                    height: 36px;
                }
            }
        }
    }

    &__menu {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 10px;
        margin-left: 20px;
        color: #fff;
        background: #d0011b;
        line-height: 38px;
        text-transform: capitalize;
        border-radius: 3px;
        white-space: nowrap;
        cursor: pointer;

        @include tablet {
            display: none;
        }
    }

    &__menu-icon {
        display: flex;
        align-items: center;

        i {
            font-size: 16px;
            margin-right: 6px;
        }

        &:hover {
            ~ {
                .header__menu-list {
                    display: block;
                }
            }
        }
    }

    &__menu-list {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        width: 100%;
        min-width: 250px;
        padding: 0;
        margin-top: 0;
        border-top: 21px solid transparent;
        background-color: #fff;
        touch-action: pan-y;
        list-style: none;
        z-index: 10;

        &:hover {
            display: block;
        }
    }

    &__menu-item {
        position: relative;

        & > a {
            position: relative;
            font-size: 0.9em;
            line-height: 38px;
            padding: 0 1em;
            display: flex;
            align-items: center;
            min-width: 250px;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0.5em;
                height: 0;
                width: 0;
                margin-top: -5px;
                border: 5px solid transparent;
                border-left-color: #5f5a5a;
            }
        }

        &:hover {
            background-color: #f5f5f5;

            .header__sub-menu {
                display: block;
            }
        }
    }

    &__sub-menu {
        display: none;
        height: 494px;
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 99;
        background: #fff;
        list-style: none;
        min-width: 250px;
        -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

        li:hover {
            background-color: #f5f5f5;
        }

        a {
            font-size: 0.9em;
            line-height: 38px;
            padding: 0 1em;
            display: flex;
            align-items: center;
            min-width: 250px;
        }
    }

    &__search {
        display: flex;
        align-items: center;
        flex: 1;

        @include tablet {
            display: none;
        }
    }

    &__search-form {
        display: flex;
        width: 100%;
        font-weight: 400;
        z-index: 9;

        input {
            flex: 1;
            height: 40px;
            border-right: none;
            padding: 5px 10px;
            border-radius: 0;
            outline: none;
            width: 100%;
            max-width: 100%;
            vertical-align: middle;
            border: 1px solid #e5e5e5;
            border-radius: 3px 0 0 3px;
            color: #333;
            font: inherit;
        }

        button {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border: none;
            background: #d0011b;
            cursor: pointer;
            border-radius: 0 3px 3px 0;

            i {
                color: #fff;
                font-size: 1.3em;
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        padding-left: 14px;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__nav-item {
        background-color: #f1f1f1;

        @include tablet {
            background-color: transparent;
        }

        a {
            display: inline-flex;
            flex-wrap: wrap;
            color: #333;
            line-height: 16px;
            font-family: 'Lato', sans-serif;
            text-transform: capitalize;
            height: 40px;
            align-items: center;
            padding: 0 10px;

            span b {
                display: block;
                color: #d0011b;
                font-weight: 400;
            }

            i {
                font-size: 18px;
                margin-left: 5px;
            }
        }

        @include tablet {
            &:not(:last-child) {
                display: none;
            }
        }
    }

    &__cart {
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

    &__cart-link {
        display: flex;
        align-items: center;
        padding-right: 55px !important;
        border-radius: 3px;

        i {
            min-width: 1em;
        }
    }
}

.cart-quantity {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    color: #fff;
    background: #d0011b;
    line-height: 40px;
    text-align: center;
    border-radius: 0 3px 3px 0;
}

.header-divider {
    position: relative;
    height: 30px;
    margin: 0 7.5px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}
